<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>productSearch</servlet-name>
        <servlet-class>product_controller.productSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productList</servlet-name>
        <servlet-class>product_controller.productList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>blogDetail</servlet-name>
        <servlet-class>blogController.blogDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>blogList</servlet-name>
        <servlet-class>blogController.blogList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>blogSearch</servlet-name>
        <servlet-class>blogController.blogSearch</servlet-class>
    </servlet>
    <!-- Servlets from second section -->
    <servlet>
        <servlet-name>HomeSliderServlet</servlet-name>
        <servlet-class>controller.home.HomePageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.account.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificationEmail</servlet-name>
        <servlet-class>controller.account.VerificationEmail</servlet-class>
    </servlet>
    <!-- Mappings from first section -->
    <servlet>
        <servlet-name>productDetail</servlet-name>
        <servlet-class>product_controller.productDetail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>productSearch</servlet-name>
        <url-pattern>/productSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productList</servlet-name>
        <url-pattern>/productList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>blogDetail</servlet-name>
        <url-pattern>/blogDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>blogList</servlet-name>
        <url-pattern>/blogList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>blogSearch</servlet-name>
        <url-pattern>/blogSearch</url-pattern>
    </servlet-mapping>
    <!-- Mappings from second section -->
    <servlet-mapping>
        <servlet-name>HomeSliderServlet</servlet-name>
        <url-pattern>/homepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/account/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificationEmail</servlet-name>
        <url-pattern>/VerificationActive</url-pattern>
    </servlet-mapping>
    <!-- Welcome file -->
    <servlet-mapping>
        <servlet-name>productDetail</servlet-name>
        <url-pattern>/product/detail</url-pattern>
    </servlet-mapping>
    <!-- Auth and password controllers -->
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.auth.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.auth.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>controller.password.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordRequestController</servlet-name>
        <servlet-class>controller.password.ResetPasswordRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordController</servlet-name>
        <servlet-class>controller.password.ResetPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerProfileController</servlet-name>
        <servlet-class>controller.customer.CustomerProfileController</servlet-class>
    </servlet>
    <!-- Auth mappings -->
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/change_password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordRequestController</servlet-name>
        <url-pattern>/link_reset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordController</servlet-name>
        <url-pattern>/reset_password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerProfileController</servlet-name>
        <url-pattern>/customer_profile</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>view/home/homepage.jsp</welcome-file>
    </welcome-file-list>
</web-app>
